In [157]:
import pandas as pd 
import random
import re
import os

In [158]:
mypath="/Users/ay227/Desktop/Casm/Desktop/casm/"

In [221]:
def cleanhtml(raw_html):
#   cleanr = re.compile('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});')
#     cleanr = re.compile(r'\W+')
    cleantext = data = re.sub(r'[0-9\(\)/]+', '', raw_html)
    output = re.sub(r'\s*[A-Za-z]+\b', '' , cleantext)
#     alphanumeric_filter = filter(str.isalnum, output)
#     alphanumeric_string = "".join(alphanumeric_filter)
    return output

In [217]:
dirs = [x[0] for x in os.walk(mypath)][1:]

In [218]:
from os import listdir
from os.path import isfile, join
onlyfiles = []
for d in dirs:
    fs =[f for f in listdir(d) if isfile(join(d, f))]
    onlyfiles.append(fs)

In [332]:

for art in data.split('title'):
    arts.append(cleanhtml(art))

In [341]:
articles=[]
dfs = []
for i in range(5):
    file = open(dirs[i]+'/'+random.choice(onlyfiles[i]))
    data = file.read()
    article = data.split('title')
    for a in article:
        articles.append(cleanhtml(a))
    df = pd.DataFrame(articles)

    dfs.append(df)

In [342]:
final = pd.concat(dfs)

In [343]:
final

                                                      0
0                                         <=""=":..?="
1     ="مساندة">\nمساندة\n\nالمساندة هي عملية دعم مؤ...
2     ="منظمة المراحيض العالمية">\nمنظمة المراحيض ال...
3     ="جائزة بيسوا">\nجائزة بيسوا\n\nجائزة بيسوا  ،...
4     ="نيكولاي تيموفيف ريسوفسكي">\nنيكولاي تيموفيف ...
...                                                 ...
4777  ="كلير مارتن">\nكلير مارتن\n\nكلير مارتن و.  –...
4778  ="إدنا مولوا">\nإدنا مولوا\n\nإدنا مولوا و.  –...
4779  ="مورين موديسلي">\nمورين موديسلي\n\nمورين مودي...
4780  ="سيلفيا لوكاس">\nسيلفيا لوكاس\n\nسيلفيا لوكاس...
4781  ="فخري كريم">\nفخري كريم\n\nفخري كريم احمد زنج...

[11012 rows x 1 columns]

In [344]:
final.to_csv('ar-wiki-dump-10424-articles_.csv',header = False, index = False )

In [345]:
X= pd.read_csv('ar-wiki-dump-10424-articles_.csv')

In [346]:
df = X.replace('\n','', regex=True)

In [347]:
df = df[df.columns[0]].str.replace('[^\w\s]','')

In [348]:
df.to_csv('ar_wiki_dump_10424_articles_clean_.csv',header = False, index = False )

In [354]:
X= pd.read_csv('ar_wiki_dump_10424_articles_clean.csv',header=0)

In [358]:
X.iloc[:10001].to_csv('ar_wiki_dump_10000_articles_clean.csv')

In [70]:
Files = []
for rid  in rand_dir:
    fs =[f for f in listdir(rid) if isfile(join(d, f))]
    for i in range(5):
            Files.append(open(rid+'/'+random.choice(fs)))

In [71]:
Dump = []
for f in Files:
    Dump.append(f.read())

In [72]:
lst = []
for d in Dump:
    lst.append([s for s in cleanhtml(d).split('        ') if s != '' and s != '\n'])

In [73]:
df_lst = []
for el in lst:
    df_lst.append(pd.DataFrame(el))

In [74]:
Dump_data = pd.concat(df_lst)

In [75]:
Dump_data

                                                     0
0    \nهذه هي الشرطة\n\nهذه هي الشرطة هي لعبة مغامر...
1    \nالعربي الشرايبي\n\nكان العربي الشرايبي وزيرا...
2    \nبعثة باراغواي\n\nبعثة باراغواي كانت بعثةً بح...
3    \nجون كاني (ممثل)\n\nبونيسيل جون كاني هو ممثل ...
4    \nالشرايبي (توضيح)\n\nالشرايبي هو اسم لأسرة مغ...
..                                                 ...
398  \nبول دوميت\n\nبول دوميت وهو لاعب كرة قدم ويلز...
399  \nمحمد نبيه شعار\n\nولد الاديب السوري (محمد نب...
400  \nالفروض والمبادئ المحاسبية\n\nتعرف الفروض عمو...
401  \nشيرين تكالى\n\nشيرين تكالى \nمواليد عام 1944...
402  \nموائل بحرية\n\nالبيئة البحرية توفر أنواع كثي...

[45615 rows x 1 columns]

In [76]:
Dump_data.to_csv('ar-wiki-dump-10424-articles.csv', header=False)

In [ ]:
pd.DataFrame([s for s in cleanhtml(X).split('        ') if s != '']).iloc[0]

In [ ]:
import re

TAG_RE = re.compile(r'<[^>]+>')

def remove_tags(text):
    return TAG_RE.sub('', text)

In [ ]:
remove_tags(X)